@using NeuRequest;
@using NeuRequest.Models;
@{
    ViewBag.Title = "Update";
    Layout = "";
    UserProfile userProfile = ViewData["UserProfile"] as UserProfile;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title AHD</title>

    <style type="text/css">

        .LoadWrap {
            background: linear-gradient(90deg, #FF4E50 10%, #F9D423 90%);
            overflow: hidden;
            height: 100%;
            color: #ccc;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 999999999999999;
        }

            .LoadWrap.hide {
                display: none;
            }

        .loader {
            height: 40px;
            width: 40px;
            position: absolute;
            left: 50%;
            margin-left: -20px;
            top: 50%;
            margin-top: -20px;
        }

            .loader:before, .loader:after {
                content: "";
                height: 40px;
                width: 40px;
                border: 8px solid rgba(255, 255, 255, 0.5);
                border-radius: 10px;
                position: absolute;
                top: 0;
            }

            .loader:before {
                -webkit-animation: animate 2s infinite linear;
                animation: animate 2s infinite linear;
            }

            .loader:after {
                -webkit-animation: animate2 2s infinite linear;
                animation: animate2 2s infinite linear;
            }

        @@-webkit-keyframes animate {
            100% {
                -webkit-transform: rotate(180deg) skew(360deg);
                transform: rotate(180deg) skew(360deg);
            }
        }

        @@keyframes animate {
            100% {
                -webkit-transform: rotate(180deg) skew(360deg);
                transform: rotate(180deg) skew(360deg);
            }
        }

        @@-webkit-keyframes animate2 {
            100% {
                -webkit-transform: rotate(-180deg) skew(-360deg);
                transform: rotate(-180deg) skew(-360deg);
            }
        }

        @@keyframes animate2 {
            100% {
                -webkit-transform: rotate(-180deg) skew(-360deg);
                transform: rotate(-180deg) skew(-360deg);
            }
        }
    </style>

    @Styles.Render("~/Rebone/css")
    @Styles.Render("~/NeuUi/css/NeuBase.css")
    <link rel="stylesheet" href="~/Rebone/public/vendors/iconfonts/font-awesome/css/font-awesome.min.css">
    <link rel="shortcut icon" href="~/Rebone/public/images/favicon1.png" />
    <style>
    </style>
</head>
<body>

    <div class="LoadWrap">
        <div class="loader"></div>
    </div>

    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar default-layout neu col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <a class="navbar-brand brand-logo" href="/Home/Index"><img src="~/Rebone/public/images/logo.png" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="/Home/Index"><img src="~/Rebone/public/images/favicon.png" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <button class="navbar-toggler navbar-toggler align-self-center hide" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex"></ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown d-none d-xl-inline-block">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <span class="profile-text"></span><img class="img-xs rounded-circle" src="~/Rebone/public/images/profile/profileImg.png" alt="Profile image">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                            <a class="dropdown-item p-0">
                                <div class="d-flex border-bottom">
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center"><i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i></div>
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right"><i class="mdi mdi-account-outline mr-0 text-gray"></i></div>
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center"><i class="mdi mdi-alarm-check mr-0 text-gray"></i></div>
                                </div>
                            </a>
                            <a class="dropdown-item mt-2" href="/UserProfile/Update">
                                Manage Profile
                            </a>
                            <a class="dropdown-item" href="/Account/SignOut">
                                Sign Out
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas hide" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">

                        <div class="nav-link inline-user-profile-thump">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="profile-pic m-b-20 m-t-20">
                                        <img src="~/Rebone/public/images/profile/profileImg.png" width="110" class="rounded-circle" alt="user">
                                        <h4 class="m-t-20 m-b-0"></h4>
                                        <div>
                                            <small class="designation text-muted"></small>
                                            <span class="status-indicator online"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="nav-link hide">
                            <div class="user-wrapper">
                                <div class="profile-image">
                                    <img src="~/Rebone/public/images/faces-clipart/pic-1.png" alt="profile image">
                                </div>
                                <div class="text-wrapper">
                                    <p class="profile-name"></p>
                                    <div>
                                        <small class="designation text-muted"></small>
                                        <span class="status-indicator online"></span>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-success btn-block" data-toggle="modal" data-target="#exampleModal">New Goal<i class="mdi mdi-plus"></i></button>
                        </div>

                    </li>
                    <li class="nav-item hide"> <a class="nav-link" href="../documentation.html"> <i class="menu-icon mdi mdi-scale-bathroom"></i><span class="menu-title">Documentation</span> </a> </li>
                </ul>
            </nav>

            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin">

                            <nav class="inline-breadcrumb" aria-label="breadcrumb">
                                <ol class="breadcrumb bg-dark">
                                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Update Profile Details</li>
                                </ol>
                            </nav>

                            <div class="row">
                                <div class="col-md-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Profile</h4>
                                            <form class="forms-sample" id="updateUserProfileForm" action="/UserProfile/Update" method="POST" enctype="multipart/form-data">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="NTPLID">NTPL</label>
                                                            <input type="text" class="form-control" id="NTPLID" name="NTPLID" value="@userProfile.NTPLID" placeholder="NTPL ID">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="Email">Email address</label>
                                                            <input type="email" class="form-control" id="Email" name="Email" readonly value="@userProfile.Email" placeholder="Email">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="FullName">Full Name</label>
                                                            <input type="text" class="form-control" id="FullName" readonly name="FullName" value="@userProfile.FullName" placeholder="FullName">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="FirstName">First Name</label>
                                                            <input type="text" class="form-control" id="FirstName" name="FirstName" value="@userProfile.FirstName" placeholder="FirstName">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="MiddleName">Middle Name</label>
                                                            <input type="text" class="form-control" id="MiddleName" name="MiddleName" value="@userProfile.MiddleName" placeholder="MiddleName">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="LastName">Last Name</label>
                                                            <input type="text" class="form-control" id="LastName" name="LastName" value="@userProfile.LastName" placeholder="LastName">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="DateofJoining">Date of Joining</label>
                                                            <input type="text" class="form-control" id="DateofJoining" name="DateofJoining" value="@userProfile.DateofJoining" placeholder="Date of Joining">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="EmploymentStatus">Employment Status</label>
                                                            <input type="hidden" value="@userProfile.EmpStatusId" class="dynaLoadSelectContent" data-target="EmpStatusId" />
                                                            <select class="js-example-basic-single select2" id="EmpStatusId" name="EmpStatusId" style="width:100%">
                                                                <option>-- Select --</option>
                                                                <option value="1">Employed</option>
                                                                <option value="2">Contractor</option>
                                                                <option value="3">On Notice</option>
                                                                <option value="4">Probation</option>
                                                                <option value="5">Relieved</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="Practice">Practice</label>
                                                            <input type="hidden" value="@userProfile.PracticeId" class="dynaLoadSelectContent" data-target="PracticeId" />
                                                            <select class="js-example-basic-single select2" id="PracticeId" name="PracticeId" style="width:100%">
                                                                <option>-- Select --</option>
                                                                <option value="1">QA</option>
                                                                <option value="2">CAD</option>
                                                                <option value="3">BI</option>
                                                                <option value="4">UX</option>
                                                                <option value="5">Product</option>
                                                                <option value="6">CRM</option>
                                                                <option value="7">Enablement</option>
                                                                <option value="8">MC</option>
                                                                <option value="9">IT</option>
                                                                <option value="10">IW</option>
                                                                <option value="11">CSD</option>
                                                                <option value="12">NMS</option>
                                                                <option value="13">US Operations</option>
                                                                <option value="14">Java</option>
                                                                <option value="15">Mobility</option>
                                                                <option value="16">BizTalk</option>
                                                                <option value="17">App Dev</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="JLId">Job Level</label>
                                                            <input type="hidden" value="@userProfile.JLId" class="dynaLoadSelectContent" data-target="JLId" />
                                                            <select class="js-example-basic-single select2" readonly id="JLId" name="JLId" style="width:100%">
                                                                <option value="1">JL 1</option>
                                                                <option value="2">JL 2</option>
                                                                <option value="3">JL 3</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="DSId">Designation</label>
                                                            <input type="hidden" value="@userProfile.DSId" class="dynaLoadSelectContent" data-target="DSId" />
                                                            <select class="js-example-basic-single select2" id="DSId" name="DSId" style="width:100%">
                                                                <option>-- Select --</option>
                                                                <option value="1">Senior Consultant 1</option>
                                                                <option value="2">Consultant Manager</option>
                                                                <option value="3">HCM Manager</option>
                                                                <option value="4">Enablement Manager</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="Location">Location</label>
                                                            <input type="text" class="form-control" id="Location" name="Location" value="@userProfile.Location" placeholder="Location">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="Active">Active</label>
                                                            <input type="hidden" value="@userProfile.Active" class="dynaLoadSelectContent" data-target="Active" />
                                                            <select class="js-example-basic-single select2" readonly id="Active" name="Active" style="width:100%">
                                                                <option value="1">Active</option>
                                                                <option value="0">Not Active</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="Active">Email Notification</label>
                                                            <input type="hidden" value="@userProfile.userPreference.IsMailCommunication" class="dynaLoadSelectContent" data-target="IsMailCommunication" />
                                                            <select class="js-example-basic-single select2" id="IsMailCommunication" name="IsMailCommunication" style="width:100%">
                                                                <option value="1">Active</option>
                                                                <option value="0">Not Active</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <button type="submit" class="btn btn-success mr-2">Submit</button>
                                                <button class="btn btn-light hide">Cancel</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">

                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <!-- End custom js for this page-->
    @Scripts.Render("~/Rebone/js")
    @Scripts.Render("~/Rebone/public/js/formpickers.js")
    @Scripts.Render("~/Rebone/public/js/x-editable.js")
    @Scripts.Render("~/Rebone/public/js/dropify.js")
    @Scripts.Render("~/Rebone/public/js/dropzone.js")
    @Scripts.Render("~/Rebone/public/js/jquery-file-upload.js")
    @Scripts.Render("~/Rebone/public/js/formpickers.js")
    @Scripts.Render("~/Rebone/public/js/form-repeater.js")
    @Scripts.Render("~/Rebone/public/js/select2.js")
    @Scripts.Render("~/Rebone/public/vendors/SearchableMultiSelectjQueryDropdown/jquery.dropdown.js")

    @if (TempData["Message"] != null)
    {
        <script>
                var message = "@TempData["Message"]";
                    resetToastPosition = function () {
                        $('.jq-toast-wrap').removeClass('bottom-left bottom-right top-left top-right mid-center'); // to remove previous position class
                        $(".jq-toast-wrap").css({
                            "top": "",
                            "left": "",
                            "bottom": "",
                            "right": ""
                        }); //to remove previous position style
                    }
                    resetToastPosition();
                    $.toast({
                        heading: '...',
                        text: message,
                        showHideTransition: 'slide',
                        icon: 'info',
                        loaderBg: '#46c35f',
                        position: 'top-right'
                      })
        </script>
    }

    <script>
        $.validator.setDefaults({
            submitHandler: function () {
                $('#updateUserProfileForm').submit();
            }
        });

        $(function () {
            // validate signup form on keyup and submit
            $("#updateUserProfileForm").validate({
                rules: {
                    NTPLID: {
                        required: true
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    FullName: {
                        required: true
                    },
                    FirstName: {
                        required: true
                    },
                    LastName: {
                        required: true
                    },
                    DateofJoining: {
                        required: true,
                        date: true
                    },
                    EmpStatusId: {
                        required: true,
                        number: true
                    },
                    PracticeId: {
                        required: true,
                        number: true
                    },
                    JLId: {
                        required: true,
                        number: true
                    },
                    DSId: {
                        required: true,
                        number: true,
                    },
                    Location: {
                        required: true
                    },
                },
                messages: {
                    NTPLID: {
                        required: "Please enter NTPL id",
                    },
                    Email: {
                        required: "Please enter valid email address",
                    },
                    FullName: {
                        required: "Please enter full name",
                    },
                    FirstName: {
                        required: "Please enter first name",
                    },
                    LastName: {
                        required: "Please enter last name",
                    },
                    DateofJoining: {
                        required: "Please enter valid date of joing",
                    },
                    EmpStatusId: {
                        required: "Please select employment status",
                    },
                    PracticeId: {
                        required: "Please select practice",
                    },
                    JLId: {
                        required: "Please select job level",
                    },
                    DSId: {
                        required: "Please select designation",
                    },
                    Location: {
                        required: "Please your base location",
                    },
                },
                errorPlacement: function (label, element) {
                    label.addClass('mt-2 text-danger');
                    label.insertAfter(element);
                },
                highlight: function (element, errorClass) {
                    $(element).parent().addClass('has-danger')
                    $(element).addClass('form-control-danger')
                }
            });

            if ($("#start-date-picker").length) {
                $('#start-date-picker').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    endDate: '+d',
                    autoclose: true,
                });
            };

            if ($("#end-date-picker").length) {
                $('#end-date-picker').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true,
                });
            };

            $('.dropdown-mul-1').dropdown({
                multipleMode: 'label',
                choice: function () {
                    // console.log(arguments,this);
                }
            });

            if ($(".leaveCancelationApprover").length) {
                $(".leaveCancelationApprover").select2();
            }
        });

        $(function () {

            $(document).on('click', '.link-action-tigger', function (e) {
                window.location = $(this).data('target');
            });

            if ($(".dynaLoadSelectContent").length) {
                $('.dynaLoadSelectContent').each(function (index) {
                    var value = $(this).val();
                    var target = $(this).data('target');
                    $('#' + target).val(value);
                });
            }



            if ($(".select2").length) {
                $(".select2").select2();
            }
        });


        var everythingLoaded = setInterval(function () {
            if (/loaded|complete/.test(document.readyState)) {
                $(".LoadWrap").fadeOut("slow");
                clearInterval(everythingLoaded);
            }
        }, 10);

        $(window).bind('beforeunload', function () {
            $(".LoadWrap").fadeIn("fast");
        });

    </script>
</body>
</html>


