@using AHD;
@using AHD.Models;

@{
    NueUserProfile userProfileSession = ViewData["NueUserProfile"] as NueUserProfile;
    NueRequestModel userRequest = ViewData["UserRequest"] as NueRequestModel;
}
@{
    ViewBag.Title = "Request Details - " + ViewData["RequestId"];
}
<style>
    .tab-basic .nav-item .nav-link.active {
        color: #383838;
    }
    .tab-basic .nav-item .nav-link.active .req-number {
       color: #383838;
       font-size: medium;
       position: relative;
       bottom: 3px;
    }
</style>
<div class="card">
    <div class="card-body">

        <h5 class="mb-1 pb-1">Leaves and Holydays</h5>
        @if (TempData["Message"] != null)
        {
            @TempData["Message"]
        }
        @Html.Raw(@ViewData["UiRender"])
    </div>

    <div class="modal fade" id="commentModal-1" tabindex="-1" role="dialog" aria-labelledby="commentModal-4" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel-4">Add new comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add_Leave_Cancelation_Request_Comment_Form" action="/HcmAHDDashboard/AddUserComment" method="post" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Comment</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="userComment" name="userComment" rows="4"></textarea>
                                <input type="hidden" name="requestId" id="requestId" value="@ViewData["RequestId"]" />
                                <input type="hidden" name="userId" id="userId" value="@userProfileSession.ntplId" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success add_Leave_Cancelation_Request_Comment_trigger" onclick="$('#add_Leave_Cancelation_Request_Comment_Form').submit();">Add Comment</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    

    <div class="modal fade" id="fileAttchmentModal-1" tabindex="-1" role="dialog" aria-labelledby="fileAttchmentModal-4" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel-4">Add new file</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="attach_Leave_Cancelation_Request_Comment_Form" action="/HcmAHDDashboard/AddUserAttachment" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>File</label>
                            <input type="hidden" name="requestId" value="@ViewData["RequestId"]" />
                            <input type="hidden" name="userId" value="@userProfileSession.ntplId" />
                            <input type="file" name="requestAtchmentFile" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" placeholder="Upload documnet">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-info" type="button">Select</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success add_Leave_Cancelation_Request_Comment_trigger" onclick="$('#attach_Leave_Cancelation_Request_Comment_Form').submit();">Upload</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/Rebone/js")
    <script>
        $(function () {

            $(document).on('click', '.hcm_create_Request', function (e) {
                var target = $('#hcmRequestDepartment').find('option:selected', this).data('target');
                window.location = target;
            });

            $()

            $('#request-summary-listing').DataTable({
                "aLengthMenu": [
                    [5, 10, 15, 20, 50, 100],
                    [5, 10, 15, 20, 50, 100]
                ],
                "iDisplayLength": 10,
                "language": {
                    search: ""
                }
            });
            $('#request-summary-listing').each(function () {
                var datatable = $(this);
                // SEARCH - Add the placeholder for Search and Turn this into in-line form control
                var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
                search_input.attr('placeholder', 'Search');
                search_input.removeClass('form-control-sm');
                // LENGTH - Inline-Form control
                var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
                length_sel.removeClass('form-control-sm');
            });

            showSwal = function (type) {
                'use strict';
                if (type === 'inter-approve-leave-cancelation-request') {
                    swal({
                        title: 'Are you sure?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3f51b5',
                        cancelButtonColor: '#ff4081',
                        confirmButtonText: 'Great ',
                        content: {
                            element: "input",
                            attributes: {
                                placeholder: "Approval Comment",
                                type: "textarea",
                                class: 'form-control',
                                id: 'subApprovalComment'
                            },
                        },
                        buttons: {
                            cancel: {
                                text: "Cancel",
                                value: null,
                                visible: true,
                                className: "btn btn-danger",
                                closeModal: true,
                            },
                            confirm: {
                                text: "OK",
                                value: true,
                                visible: true,
                                className: "btn btn-primary",
                                closeModal: true
                            }
                        }
                    }).then((value) => {
                        if (value) {
                            var reqId = $('#requestId').val();
                            var usrId = $('#userId').val();
                            var formData = new FormData();
                            formData.append("requestId", "" + reqId + "");
                            formData.append("userId", "" + usrId + "");
                            formData.append("userComment", $('#subApprovalComment').val());
                            $.ajax({
                                type: "POST",
                                dataType: 'json',
                                enctype: 'multipart/form-data',
                                url: "/HcmAHDDashboard/SubApproveLeaveCancelationRequest",
                                data: formData,
                                processData: false,
                                contentType: false,
                                cache: false,
                                timeout: 600000,
                                success: function (data) {
                                    if (data.Status == 'Ok') {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 2 sec.',
                                            timer: 2000,
                                            button: false
                                        });
                                        setTimeout(function () {
                                            location.reload();
                                        }, 2000);
                                    }
                                    else {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 4 sec.',
                                            timer: 4000,
                                            button: false
                                        });

                                        setTimeout(function () {
                                            location.reload();
                                        }, 4000);
                                    }
                                },
                                error: function (e) {
                                    console.log("ERROR : ", e);
                                }
                            });
                        }
                    });

                }
                else if (type === 'inter-approve-leave-past-apply-request') {
                    swal({
                        title: 'Are you sure?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3f51b5',
                        cancelButtonColor: '#ff4081',
                        confirmButtonText: 'Great ',
                        content: {
                            element: "input",
                            attributes: {
                                placeholder: "Approval Comment",
                                type: "textarea",
                                class: 'form-control',
                                id: 'subApprovalComment'
                            },
                        },
                        buttons: {
                            cancel: {
                                text: "Cancel",
                                value: null,
                                visible: true,
                                className: "btn btn-danger",
                                closeModal: true,
                            },
                            confirm: {
                                text: "OK",
                                value: true,
                                visible: true,
                                className: "btn btn-primary",
                                closeModal: true
                            }
                        }
                    }).then((value) => {
                        if (value) {
                            var reqId = $('#requestId').val();
                            var usrId = $('#userId').val();
                            var formData = new FormData();
                            formData.append("requestId", "" + reqId + "");
                            formData.append("userId", "" + usrId + "");
                            formData.append("userComment", $('#subApprovalComment').val());
                            $.ajax({
                                type: "POST",
                                dataType: 'json',
                                enctype: 'multipart/form-data',
                                url: "/HcmAHDDashboard/SubApproveLeavePastApplyRequest",
                                data: formData,
                                processData: false,
                                contentType: false,
                                cache: false,
                                timeout: 600000,
                                success: function (data) {
                                    if (data.Status == 'Ok') {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 2 sec.',
                                            timer: 2000,
                                            button: false
                                        });
                                        setTimeout(function () {
                                            location.reload();
                                        }, 2000);
                                    }
                                    else {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 4 sec.',
                                            timer: 4000,
                                            button: false
                                        });

                                        setTimeout(function () {
                                            location.reload();
                                        }, 4000);
                                    }
                                },
                                error: function (e) {
                                    console.log("ERROR : ", e);
                                }
                            });
                        }
                    });

                }
                else if (type === 'withdraw-leave-cancelation-request') {
                    swal({
                        title: 'Please withdrawal reason',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3f51b5',
                        cancelButtonColor: '#ff4081',
                        confirmButtonText: 'Great ',
                        content: {
                            element: "input",
                            attributes: {
                                placeholder: "Feedback",
                                type: "textarea",
                                class: 'form-control',
                                id: 'withdrawalComment'
                            },
                        },
                        buttons: {
                            cancel: {
                                text: "Cancel",
                                value: null,
                                visible: true,
                                className: "btn btn-danger",
                                closeModal: true,
                            },
                            confirm: {
                                text: "OK",
                                value: true,
                                visible: true,
                                className: "btn btn-primary",
                                closeModal: true
                            }
                        }
                    }).then((value) => {
                        if (value) {
                            var reqId = $('#requestId').val();
                            var usrId = $('#userId').val();
                            var formData = new FormData();
                            formData.append("requestId", "" + reqId + "");
                            formData.append("userId", "" + usrId + "");
                            formData.append("userComment", $('#withdrawalComment').val());
                            $.ajax({
                                type: "POST",
                                dataType: 'json',
                                enctype: 'multipart/form-data',
                                url: "/HcmAHDDashboard/WithdrawLeaveCancelationRequest",
                                data: formData,
                                processData: false,
                                contentType: false,
                                cache: false,
                                timeout: 600000,
                                success: function (data) {
                                    if (data.Status == 'Ok') {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 2 sec.',
                                            timer: 2000,
                                            button: false
                                        });
                                        setTimeout(function () {
                                            location.reload();
                                        }, 2000);
                                    }
                                    else {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 4 sec.',
                                            timer: 4000,
                                            button: false
                                        });

                                        setTimeout(function () {
                                            location.reload();
                                        }, 4000);
                                    }
                                },
                                error: function (e) {
                                    console.log("ERROR : ", e);
                                }
                            });
                        }
                    });
                }
                else if (type === 'withdraw-leave-past-apply-request') {
                    swal({
                        title: 'Please withdrawal reason',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3f51b5',
                        cancelButtonColor: '#ff4081',
                        confirmButtonText: 'Great ',
                        content: {
                            element: "input",
                            attributes: {
                                placeholder: "Feedback",
                                type: "textarea",
                                class: 'form-control',
                                id: 'withdrawalComment'
                            },
                        },
                        buttons: {
                            cancel: {
                                text: "Cancel",
                                value: null,
                                visible: true,
                                className: "btn btn-danger",
                                closeModal: true,
                            },
                            confirm: {
                                text: "OK",
                                value: true,
                                visible: true,
                                className: "btn btn-primary",
                                closeModal: true
                            }
                        }
                    }).then((value) => {
                        if (value) {
                            var reqId = $('#requestId').val();
                            var usrId = $('#userId').val();
                            var formData = new FormData();
                            formData.append("requestId", "" + reqId + "");
                            formData.append("userId", "" + usrId + "");
                            formData.append("userComment", $('#withdrawalComment').val());
                            $.ajax({
                                type: "POST",
                                dataType: 'json',
                                enctype: 'multipart/form-data',
                                url: "/HcmAHDDashboard/WithdrawLeavePastApplyRequest",
                                data: formData,
                                processData: false,
                                contentType: false,
                                cache: false,
                                timeout: 600000,
                                success: function (data) {
                                    if (data.Status == 'Ok') {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 2 sec.',
                                            timer: 2000,
                                            button: false
                                        });
                                        setTimeout(function () {
                                            location.reload();
                                        }, 2000);
                                    }
                                    else {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 4 sec.',
                                            timer: 4000,
                                            button: false
                                        });

                                        setTimeout(function () {
                                            location.reload();
                                        }, 4000);
                                    }
                                },
                                error: function (e) {
                                    console.log("ERROR : ", e);
                                }
                            });
                        }
                    });
                }
                else if (type === 'withdraw-leave-wfh-apply-request') {
                    swal({
                        title: 'Please withdrawal reason',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3f51b5',
                        cancelButtonColor: '#ff4081',
                        confirmButtonText: 'Great ',
                        content: {
                            element: "input",
                            attributes: {
                                placeholder: "Feedback",
                                type: "textarea",
                                class: 'form-control',
                                id: 'withdrawalComment'
                            },
                        },
                        buttons: {
                            cancel: {
                                text: "Cancel",
                                value: null,
                                visible: true,
                                className: "btn btn-danger",
                                closeModal: true,
                            },
                            confirm: {
                                text: "OK",
                                value: true,
                                visible: true,
                                className: "btn btn-primary",
                                closeModal: true
                            }
                        }
                    }).then((value) => {
                        if (value) {
                            var reqId = $('#requestId').val();
                            var usrId = $('#userId').val();
                            var formData = new FormData();
                            formData.append("requestId", "" + reqId + "");
                            formData.append("userId", "" + usrId + "");
                            formData.append("userComment", $('#withdrawalComment').val());
                            $.ajax({
                                type: "POST",
                                dataType: 'json',
                                enctype: 'multipart/form-data',
                                url: "/HcmAHDDashboard/WithdrawLeaveWFHApplyRequest",
                                data: formData,
                                processData: false,
                                contentType: false,
                                cache: false,
                                timeout: 600000,
                                success: function (data) {
                                    if (data.Status == 'Ok') {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 2 sec.',
                                            timer: 2000,
                                            button: false
                                        });
                                        setTimeout(function () {
                                            location.reload();
                                        }, 2000);
                                    }
                                    else {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 4 sec.',
                                            timer: 4000,
                                            button: false
                                        });

                                        setTimeout(function () {
                                            location.reload();
                                        }, 4000);
                                    }
                                },
                                error: function (e) {
                                    console.log("ERROR : ", e);
                                }
                            });
                        }
                    });
                }
                else if (type === 'close-leave-cancelation-request') {
                    swal({
                        title: 'Please provide feedback',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3f51b5',
                        cancelButtonColor: '#ff4081',
                        confirmButtonText: 'Great ',
                        content: {
                            element: "input",
                            attributes: {
                                placeholder: "Feedback",
                                type: "textarea",
                                class: 'form-control',
                                id: 'FeedBackComment'
                            },
                        },
                        buttons: {
                            cancel: {
                                text: "Cancel",
                                value: null,
                                visible: true,
                                className: "btn btn-danger",
                                closeModal: true,
                            },
                            confirm: {
                                text: "OK",
                                value: true,
                                visible: true,
                                className: "btn btn-primary",
                                closeModal: true
                            }
                        }
                    }).then((value) => {
                        if (value) {
                            var reqId = $('#requestId').val();
                            var usrId = $('#userId').val();
                            var formData = new FormData();
                            formData.append("requestId", "" + reqId + "");
                            formData.append("userId", "" + usrId + "");
                            formData.append("userComment", $('#FeedBackComment').val());
                            $.ajax({
                                type: "POST",
                                dataType: 'json',
                                enctype: 'multipart/form-data',
                                url: "/HcmAHDDashboard/CloseLeaveCancelationRequest",
                                data: formData,
                                processData: false,
                                contentType: false,
                                cache: false,
                                timeout: 600000,
                                success: function (data) {
                                    if (data.Status == 'Ok') {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 2 sec.',
                                            timer: 2000,
                                            button: false
                                        });
                                        setTimeout(function () {
                                            location.reload();
                                        }, 2000);
                                    }
                                    else {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 4 sec.',
                                            timer: 4000,
                                            button: false
                                        });

                                        setTimeout(function () {
                                            location.reload();
                                        }, 4000);
                                    }
                                },
                                error: function (e) {
                                    console.log("ERROR : ", e);
                                }
                            });
                        }
                    });
                }
                else if (type === 'close-leave-past-apply-request') {
                    swal({
                        title: 'Please provide feedback',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3f51b5',
                        cancelButtonColor: '#ff4081',
                        confirmButtonText: 'Great ',
                        content: {
                            element: "input",
                            attributes: {
                                placeholder: "Feedback",
                                type: "textarea",
                                class: 'form-control',
                                id: 'FeedBackComment'
                            },
                        },
                        buttons: {
                            cancel: {
                                text: "Cancel",
                                value: null,
                                visible: true,
                                className: "btn btn-danger",
                                closeModal: true,
                            },
                            confirm: {
                                text: "OK",
                                value: true,
                                visible: true,
                                className: "btn btn-primary",
                                closeModal: true
                            }
                        }
                    }).then((value) => {
                        if (value) {
                            var reqId = $('#requestId').val();
                            var usrId = $('#userId').val();
                            var formData = new FormData();
                            formData.append("requestId", "" + reqId + "");
                            formData.append("userId", "" + usrId + "");
                            formData.append("userComment", $('#FeedBackComment').val());
                            $.ajax({
                                type: "POST",
                                dataType: 'json',
                                enctype: 'multipart/form-data',
                                url: "/HcmAHDDashboard/CloseLeavePastApplyRequest",
                                data: formData,
                                processData: false,
                                contentType: false,
                                cache: false,
                                timeout: 600000,
                                success: function (data) {
                                    if (data.Status == 'Ok') {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 2 sec.',
                                            timer: 2000,
                                            button: false
                                        });
                                        setTimeout(function () {
                                            location.reload();
                                        }, 2000);
                                    }
                                    else {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 4 sec.',
                                            timer: 4000,
                                            button: false
                                        });

                                        setTimeout(function () {
                                            location.reload();
                                        }, 4000);
                                    }
                                },
                                error: function (e) {
                                    console.log("ERROR : ", e);
                                }
                            });
                        }
                    });
                }
                else if (type === 'close-leave-wfh-apply-request') {
                    swal({
                        title: 'Please provide feedback',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3f51b5',
                        cancelButtonColor: '#ff4081',
                        confirmButtonText: 'Great ',
                        content: {
                            element: "input",
                            attributes: {
                                placeholder: "Feedback",
                                type: "textarea",
                                class: 'form-control',
                                id: 'FeedBackComment'
                            },
                        },
                        buttons: {
                            cancel: {
                                text: "Cancel",
                                value: null,
                                visible: true,
                                className: "btn btn-danger",
                                closeModal: true,
                            },
                            confirm: {
                                text: "OK",
                                value: true,
                                visible: true,
                                className: "btn btn-primary",
                                closeModal: true
                            }
                        }
                    }).then((value) => {
                        if (value) {
                            var reqId = $('#requestId').val();
                            var usrId = $('#userId').val();
                            var formData = new FormData();
                            formData.append("requestId", "" + reqId + "");
                            formData.append("userId", "" + usrId + "");
                            formData.append("userComment", $('#FeedBackComment').val());
                            $.ajax({
                                type: "POST",
                                dataType: 'json',
                                enctype: 'multipart/form-data',
                                url: "/HcmAHDDashboard/CloseWFHLeaveApplyRequest",
                                data: formData,
                                processData: false,
                                contentType: false,
                                cache: false,
                                timeout: 600000,
                                success: function (data) {
                                    if (data.Status == 'Ok') {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 2 sec.',
                                            timer: 2000,
                                            button: false
                                        });
                                        setTimeout(function () {
                                            location.reload();
                                        }, 2000);
                                    }
                                    else {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 4 sec.',
                                            timer: 4000,
                                            button: false
                                        });

                                        setTimeout(function () {
                                            location.reload();
                                        }, 4000);
                                    }
                                },
                                error: function (e) {
                                    console.log("ERROR : ", e);
                                }
                            });
                        }
                    });
                }
                else if (type === 'final-approve-leave-cancelation-request') {
                    swal({
                        title: 'Are you sure?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3f51b5',
                        cancelButtonColor: '#ff4081',
                        confirmButtonText: 'Great ',
                        content: {
                            element: "input",
                            attributes: {
                                placeholder: "Approval Comment",
                                type: "textarea",
                                class: 'form-control',
                                id: 'ApprovalComment'
                            },
                        },
                        buttons: {
                            cancel: {
                                text: "Cancel",
                                value: null,
                                visible: true,
                                className: "btn btn-danger",
                                closeModal: true,
                            },
                            confirm: {
                                text: "OK",
                                value: true,
                                visible: true,
                                className: "btn btn-primary",
                                closeModal: true
                            }
                        }
                    }).then((value) => {
                        if (value) {
                            var reqId = $('#requestId').val();
                            var usrId = $('#userId').val();
                            var formData = new FormData();
                            formData.append("requestId", "" + reqId + "");
                            formData.append("userId", "" + usrId + "");
                            formData.append("userComment", $('#ApprovalComment').val());
                            $.ajax({
                                type: "POST",
                                dataType: 'json',
                                enctype: 'multipart/form-data',
                                url: "/HcmAHDDashboard/ApproveLeaveCancelationRequest",
                                data: formData,
                                processData: false,
                                contentType: false,
                                cache: false,
                                timeout: 600000,
                                success: function (data) {
                                    if (data.Status == 'Ok') {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 2 sec.',
                                            timer: 2000,
                                            button: false
                                        });
                                        setTimeout(function () {
                                            location.reload();
                                        }, 2000);
                                    }
                                    else {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 4 sec.',
                                            timer: 4000,
                                            button: false
                                        });

                                        setTimeout(function () {
                                            location.reload();
                                        }, 4000);
                                    }
                                },
                                error: function (e) {
                                    console.log("ERROR : ", e);
                                }
                            });
                        }
                    });
                }
                else if (type === 'final-approve-leave-past-apply-request') {
                    swal({
                        title: 'Are you sure?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3f51b5',
                        cancelButtonColor: '#ff4081',
                        confirmButtonText: 'Great ',
                        content: {
                            element: "input",
                            attributes: {
                                placeholder: "Approval Comment",
                                type: "textarea",
                                class: 'form-control',
                                id: 'ApprovalComment'
                            },
                        },
                        buttons: {
                            cancel: {
                                text: "Cancel",
                                value: null,
                                visible: true,
                                className: "btn btn-danger",
                                closeModal: true,
                            },
                            confirm: {
                                text: "OK",
                                value: true,
                                visible: true,
                                className: "btn btn-primary",
                                closeModal: true
                            }
                        }
                    }).then((value) => {
                        if (value) {
                            var reqId = $('#requestId').val();
                            var usrId = $('#userId').val();
                            var formData = new FormData();
                            formData.append("requestId", "" + reqId + "");
                            formData.append("userId", "" + usrId + "");
                            formData.append("userComment", $('#ApprovalComment').val());
                            $.ajax({
                                type: "POST",
                                dataType: 'json',
                                enctype: 'multipart/form-data',
                                url: "/HcmAHDDashboard/ApproveLeavePastApplyRequest",
                                data: formData,
                                processData: false,
                                contentType: false,
                                cache: false,
                                timeout: 600000,
                                success: function (data) {
                                    if (data.Status == 'Ok') {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 2 sec.',
                                            timer: 2000,
                                            button: false
                                        });
                                        setTimeout(function () {
                                            location.reload();
                                        }, 2000);
                                    }
                                    else {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 4 sec.',
                                            timer: 4000,
                                            button: false
                                        });

                                        setTimeout(function () {
                                            location.reload();
                                        }, 4000);
                                    }
                                },
                                error: function (e) {
                                    console.log("ERROR : ", e);
                                }
                            });
                        }
                    });
                }
                else if (type === 'final-approve-leave-wfh-apply-request') {
                    swal({
                        title: 'Are you sure?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3f51b5',
                        cancelButtonColor: '#ff4081',
                        confirmButtonText: 'Great ',
                        content: {
                            element: "input",
                            attributes: {
                                placeholder: "Approval Comment",
                                type: "textarea",
                                class: 'form-control',
                                id: 'ApprovalComment'
                            },
                        },
                        buttons: {
                            cancel: {
                                text: "Cancel",
                                value: null,
                                visible: true,
                                className: "btn btn-danger",
                                closeModal: true,
                            },
                            confirm: {
                                text: "OK",
                                value: true,
                                visible: true,
                                className: "btn btn-primary",
                                closeModal: true
                            }
                        }
                    }).then((value) => {
                        if (value) {
                            var reqId = $('#requestId').val();
                            var usrId = $('#userId').val();
                            var formData = new FormData();
                            formData.append("requestId", "" + reqId + "");
                            formData.append("userId", "" + usrId + "");
                            formData.append("userComment", $('#ApprovalComment').val());
                            $.ajax({
                                type: "POST",
                                dataType: 'json',
                                enctype: 'multipart/form-data',
                                url: "/HcmAHDDashboard/ApproveWFHLeaveRequest",
                                data: formData,
                                processData: false,
                                contentType: false,
                                cache: false,
                                timeout: 600000,
                                success: function (data) {
                                    if (data.Status == 'Ok') {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 2 sec.',
                                            timer: 2000,
                                            button: false
                                        });
                                        setTimeout(function () {
                                            location.reload();
                                        }, 2000);
                                    }
                                    else {
                                        swal({
                                            title: data.message,
                                            text: 'Data refresh in 4 sec.',
                                            timer: 4000,
                                            button: false
                                        });

                                        setTimeout(function () {
                                            location.reload();
                                        }, 4000);
                                    }
                                },
                                error: function (e) {
                                    console.log("ERROR : ", e);
                                }
                            });
                        }
                    });
                }

                //
            }

            $('.file-upload-browse').on('click', function () {
                var file = $(this).parent().parent().parent().find('.file-upload-default');
                file.trigger('click');
            });
            $('.file-upload-default').on('change', function () {
                $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
            });
        });
    </script>
