@using AHD;
@using AHD.Models;

@{
    NueUserProfile userProfileSession = ViewData["NueUserProfile"] as NueUserProfile;
    NueRequestModel userRequest = ViewData["UserRequest"] as NueRequestModel;
}
@{
    ViewBag.Title = "Request Details - " + ViewData["RequestId"];
}
<style>
    .tab-basic .nav-item .nav-link.active {
        color: #383838;
    }
    .tab-basic .nav-item .nav-link.active .req-number {
       color: #383838;
       font-size: medium;
       position: relative;
       bottom: 3px;
    }
</style>
<style>
    
</style>
<nav class="inline-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark">
        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
        <li class="breadcrumb-item"><a href="/HcmAHDDashboard/Index">HCM Request Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">HCM Requests Details</li>
    </ol>
</nav>
<div class="card">
    <div class="card-body">

        <div class="ahd-service-container">


            @Html.Raw(@ViewData["UiRender"])


        </div>



    </div>

    <div class="card-body hide">
        @if (TempData["Message"] != null)
        {
            @TempData["Message"]
        }
        @Html.Raw(@ViewData["UiRender"])
    </div>

    <div class="modal fade" id="commentModal-1" tabindex="-1" role="dialog" aria-labelledby="commentModal-4" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel-4">Add new comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add_Leave_Cancelation_Request_Comment_Form" action="/HcmAHDDashboard/AddUserComment" method="post" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Comment</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="userComment" name="userComment" rows="4"></textarea>
                                <input type="hidden" name="requestId" id="requestId" value="@ViewData["RequestId"]" />
                                <input type="hidden" name="userId" id="userId" value="@userProfileSession.ntplId" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success add_Leave_Cancelation_Request_Comment_trigger" onclick="$('#add_Leave_Cancelation_Request_Comment_Form').submit();">Add Comment</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="fileAttchmentModal-1" tabindex="-1" role="dialog" aria-labelledby="fileAttchmentModal-4" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel-4">Add new file</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="attach_Leave_Cancelation_Request_Comment_Form" action="/HcmAHDDashboard/AddUserAttachment" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>File</label>
                            <input type="hidden" name="requestId" value="@ViewData["RequestId"]" />
                            <input type="hidden" name="userId" value="@userProfileSession.ntplId" />
                            <input type="file" name="requestAtchmentFile" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" placeholder="Upload documnet">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-info" type="button">Select</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success add_Leave_Cancelation_Request_Comment_trigger" onclick="$('#attach_Leave_Cancelation_Request_Comment_Form').submit();">Upload</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/Rebone/js")
    @Scripts.Render("~/NeuUi/js/NeuBase.js")
    <script>
        $(function () {

            $(document).on('click', '.hcm_create_Request', function (e) {
                var target = $('#hcmRequestDepartment').find('option:selected', this).data('target');
                window.location = target;
            });

            $()

            $('#request-summary-listing').DataTable({
                "aLengthMenu": [
                    [5, 10, 15, 20, 50, 100],
                    [5, 10, 15, 20, 50, 100]
                ],
                "iDisplayLength": 10,
                "language": {
                    search: ""
                }
            });
            $('#request-summary-listing').each(function () {
                var datatable = $(this);
                // SEARCH - Add the placeholder for Search and Turn this into in-line form control
                var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
                search_input.attr('placeholder', 'Search');
                search_input.removeClass('form-control-sm');
                // LENGTH - Inline-Form control
                var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
                length_sel.removeClass('form-control-sm');
            });

            $('.file-upload-browse').on('click', function () {
                var file = $(this).parent().parent().parent().find('.file-upload-default');
                file.trigger('click');
            });
            $('.file-upload-default').on('change', function () {
                $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
            });
        });
    </script>
