@model IEnumerable<NeuRequest.Models.Messages>
@{
    var unreadCount = Model.Where(x => x.Processed == 0).Count();
    var unreadCountStr = "";
    if(unreadCount > 99)
    {
        unreadCountStr = "99+";
    }
    else
    {
        unreadCountStr = unreadCount.ToString();
    }
    int counter = 0;
    List<NeuRequest.Models.Messages> messages  = Model.Take(5).ToList();
}
<a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
    <i class="mdi mdi-file-document-box"></i>
    <span class="count">@unreadCountStr</span>
</a>
<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
    <div class="dropdown-item">
        @if (unreadCount > 0)
        {
            <p class="mb-0 font-weight-normal float-left">
                You have @unreadCount new notifications
            </p>
        }
        else
        {
            <p class="mb-0 font-weight-normal float-left">
                You have no new notifications
            </p>
        }
        <span class="badge badge-info badge-pill float-right view-all cursor-pointer link-action-tigger" data-target="/ProcessNotification/Index">View all</span>
    </div>
    

    @foreach (var item in messages)
    {
        string seenClass = "";
        if(@item.Processed == 0)
        {
            seenClass = "unseen";
        }
        <div class="dropdown-divider"></div>
        <a class="dropdown-item preview-item notification-viewer @seenClass" href="/ProcessNotification/Process?notificationId=@item.MessageID">
            <div class="preview-thumbnail">
                <img src="https://cdn.pixabay.com/photo/2012/04/13/21/07/user-33638__340.png" alt="image" class="profile-pic">
            </div>
            <div class="preview-item-content flex-grow">
                <h6 class="preview-subject ellipsis font-weight-medium text-dark">
                    <span class="notification-pre-head">@item.Message</span>
                    <span class="float-right font-weight-light small-text notification-time-span"> @item.getRedableTime </span>
                </h6>
                <p class="font-weight-light small-text notification-pre-body">
                    <span>@item.EmptyMessage</span>
                </p>
            </div>
        </a>
    }
</div>
